tt.*
.tests
doc/tags
debug
.repro
foo.*
*.log
data
.DS_Store
.tools/
.test-env/
lua/config/local.lua
tests/fixtures/**/target/
tests/fixtures/**/Cargo.lock
tests/fixtures/**/.classpath
tests/fixtures/**/.project
tests/fixtures/**/.settings/
